<div class="datagrid">
	<table>
		<thead>
			<tr>
				<th>Mã Số</th>
				<th>Tên Sản Phẩm</th>
				<th>Ngày Mua</th>
				<th>Số Lượng</th>
				<th>Giá Tiền</th>
				<th>Tổng Tiền</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% fl = 0 %>
			<% @products.each do |product| %>
			<tr class="alt">
				<td><%= product.id %></td>
				<td><%= product.name %></td>
				<td><%= DateTime.parse(product.buy_day.to_s).strftime("%d/%m/%Y") %></td>
				<td class="quantity"><%= product.quantity %></td>
				<td class="price"><%= product.price %></td>
				<td class="total"><%= product.quantity * product.price %></td>
				<% fl += product.quantity * product.price %>
				<td> <%= link_to image_tag("edit.png"), edit_product_path(product.id) %>
				&nbsp;&nbsp;&nbsp;
				<%= link_to image_tag("delete.png"), product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @products %>
	<p style="background-color: rgb(0, 95, 142); padding: 15px 0; color: #fff; font-size: 1.3em; width: 100%;">
		Tổng Tiền Đã Mua: <%= fl %>
	</p>
</div>