<div id="tabs">
	<ul>
		<li>
			<a href="#tabs-1">Chi Tiêu Gia Đình</a>
		</li>
		<li>
			<a href="#tabs-2">Doanh Thu Bán Hàng</a>
		</li>
	</ul>
	<div id="tabs-1">
		<p class="p-link">
			<%= form_tag search_products_path, method: :get do %>
			Từ: <%= text_field_tag :search_day_from, params[:search_day_from], class: 'search-day' %>
			<br />
			Đến: <%= text_field_tag :search_day_to, params[:search_day_to], class: 'search-day' %>
			<br />
			<%= submit_tag :Tìm %>
			<% end %>
		</p>
		<p class="p-link">
			<%= link_to "Tạo mới mặt hàng", new_product_path, class: "a-link" %>
		</p>
		<%= render partial: 'shared/products' %>
	</div>

	<div id="tabs-2">
		<p class="p-link">
			<%= form_tag search_sales_path, method: :get do %>
			Từ: <%= text_field_tag :search_sales_day_from, params[:search_sales_day_from], class: 'search-day' %>
			<br />
			Đến: <%= text_field_tag :search_sales_day_to, params[:search_sales_day_to], class: 'search-day' %>
			<br />
			<%= submit_tag :Tìm %>
			<% end %>
		</p>
		<p class="p-link">
			<%= link_to "Tạo Sản Phẩm Bán", new_sale_path, class: "a-link" %>
		</p>
		<%= render partial: 'shared/sales' %>
	</div>
</div>
<script>
	$(function() {
		var tabCookieName = "tabs";
		$("#tabs").tabs({
			active : ($.cookie(tabCookieName) || 0),
			activate : function(event, ui) {
				var newIndex = ui.newTab.parent().children().index(ui.newTab);
				$.cookie(tabCookieName, newIndex, {
					expires : 1
				});
			}
		});
	}); 
</script>
<script>
	$(function() {
		$('.search-day').datepicker({
			dateFormat : 'dd-mm-yy'
		}).val();
	}); 
</script>