<div class="div-new">
	<p>
		Name:
	</p>
	<p>
		<%= f.text_field :name %>
	</p>
</div>
<div class="div-new">
	<p>
		Buy Day:
	</p>
	<p>
		<%= f.text_field :buy_day %>
		<script>
			$(function() {
				$("#product_buy_day").datepicker();
			});
		</script>
	</p>
</div>
<div class="div-new">
	<p>
		Quantity:
	</p>
	<p>
		<%= f.text_field :quantity %>
	</p>
</div>
<div class="div-new">
	<p>
		Price:
	</p>
	<p>
		<%= f.text_field :price %>
	</p>
</div>
<div class="div-new">
	<%= f.submit :Save %>
	<%= link_to "Back to Main", root_path, class: "link-button" %>
</div>
