<div id="tabs">
	<ul>
		<li>
			<a href="#tabs-1">Nunc tincidunt</a>
		</li>
		<li>
			<a href="#tabs-2">Proin dolor</a>
		</li>
	</ul>
	<div id="tabs-1">
		<p class="p-link">
			<%= form_tag search_products_path, method: :get do %>
			From: <%= text_field_tag :search_day_from, nil, class: 'search-day' %>
			<br />
			To: <%= text_field_tag :search_day_to, nil, class: 'search-day' %>
			<br />
			<%= submit_tag :Search %>
			<% end %>
		</p>
		<script>
			$(function() {
				$('.search-day').datepicker({
					dateFormat : 'dd-mm-yy'
				}).val();
			});
		</script>
		<p class="p-link">
			<%= link_to "New product", new_product_path, class: "a-link" %>
		</p>
		<%= render partial: 'shared/products' %>
	</div>
	<div id="tabs-2">
		<p>
			Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
		</p>
	</div>
</div>
<script>
	$(function() {
		$("#tabs").tabs();
	}); 
</script>